/* Header Section */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
}

header nav {
  position: absolute;
  right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

/* Content Section */

.content {
  display: flex;
  padding-top: 120px;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

.article {
  border: 1px solid black;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.image-content {
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.main-story .image-content {
  font-size: 40px;
  background-image: url(/Users/jackieeaton/Dropbox/DevProjects/mytimes/resources/images/img-story-main.png);
}
