/* Header Section */

header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  background-color: white;
  border-bottom: 1px solid black;
}

header nav {
  position: absolute;
  right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
}

.logo img {
  margin-right: 12px;
}

/* Main Content Section */

.content {
  display: flex;
  padding-top: 120px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.news-bites h3 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 16px;
}

.news-bites .bite {
  display: block;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 12px 24px;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 32px;
}

.column.medium {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-right: 32px;
}

.column.small {
  display: flex;
  flex-direction: column;
  width: 240px;
}

/* Story Content */

.stories {
  display: flex;
  flex-direction: row;
}

.story {
  display: flex;
  flex-direction: column;
}

.text-content {
  margin-top: 16px;
}

/* Image Content */

.image-content {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 16px;
  padding: 0px 24px;
}

.main .image-content {
  font-size: 40px;
  text-align: left;
  margin-top: 0;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
}

.earth-spins.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.research.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.cats.image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 352px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

.footer-content .mytimes {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding-right: 24px;
}

.footer-content .link {
  padding-left: 16px;
}

.footer-content .copyright {
  text-align: center;
  padding-top: 16px;
}
